<footer>
  <div class="container text-center">
    <a href="#"
      ><span>myLorem</span></a>
    <div class="row justify-content-center pt-3 pb-3">
      <ul>
        <li><a href="#">Contáctanos</a></li>
        <li><a href="#">Trabaja con nosotros</a></li>
        <li><a href="#">Política de privacidad</a></li>
        <li><a href="#"> Política de cookies</a></li>
      </ul>
    </div>
    <div class="border-bottom pb-4 mb-3">
      <button type="button" class="btn btn-primary btn-floating mx-1">
        <i class="fab fa-facebook-f"></i>
      </button>

      <button type="button" class="btn btn-primary btn-floating mx-1">
        <i class="fab fa-instagram"></i>
      </button>

      <button type="button" class="btn btn-primary btn-floating mx-1">
        <i class="fab fa-linkedin-in"></i>
      </button>
    </div>
  </div>
  <p class="text-center">{{year}} | Todos los derechos reservados</p>
</footer>