<div class="section-three">
  <div class="p-3 pb-md-4 mx-auto text-center">
    <small class="today-small"> {{ today }} </small>
  </div>
  <div class="container">
    <div class="row">
      <div
        class="col-6 col-md-4 img-card pb-5"
        *ngFor="let product of productData"
      >
        <div>
          <a routerLink="/product-info/{{ product._id }}">
            <img
              src="{{ product.imageUrl }}"
              class="card-img-top"
              alt="{{ product.title }}"
              loading="lazy"
            />
          </a>
        </div>
        <div class="pt-2 product-data">
          <p class="product-name">
            <a routerLink="/product-info/{{ product._id }}">{{
              product.title
            }}</a>
          </p>
        </div>
        <div class="product-data">
          <span class="fw-bold product-price">US${{ product.price }}.00 </span>
        </div>
      </div>
    </div>
  </div>
</div>
